
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
Edit
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
button.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 button.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 /* Make the image fully responsive */
 .carousel-inner img {
        width: 100%;
        height: 300px;
    }
    body{
      margin-top: 10px;
    }
</style>
</head>

<body class="">
    
    
      <div class="wrapper ">
        <nav class = "navbar navbar-expand-sm bg-secondary navbar-dark" style="margin-bottom: 20px">
          <a class = "navbar-brand" href = "/product">
             <img src = "https://www.tutorialspoint.com/bootstrap/images/logo.png" 
                style = "width:120px;" alt = "">
          </a>
          <ul class = "navbar-nav">
             <li class = "nav-item active">
                <a class = "nav-link" href = "/product">Home 
                   <span class = "sr-only">(current)</span>
                </a>
             </li>
             <li class = "nav-item">
                <a class = "nav-link" href = "/product">Quản lý sản phẩm</a>
             </li>
             <li class = "nav-item">
                <a class = "nav-link" href = "/usermanager">Quản lý tài khoản</a>
             </li>
          </ul>
          
       </nav>
    
    
    <!-- jQuery library -->
    <script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" 
       integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
       crossorigin = "anonymous">
    </script>
    
    <!-- Popper -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
       integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
       crossorigin = "anonymous">
    </script>
    
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
       integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
       crossorigin = "anonymous">
    </script>
       
       
       
    </div>
    
    <!-- jQuery library -->
    <script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" 
       integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
       crossorigin = "anonymous">
    </script>
    
    <!-- Popper -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
       integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
       crossorigin = "anonymous">
    </script>
    
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
       integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
       crossorigin = "anonymous">
    </script>
  <div class="wrapper ">
   
      
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-sm">


</div> -->

      <div class="content" style="width:100%">
        <div class="row2" >
          <div class="col-md-12">
            <div style="width: 1050px" class="card">
              <div style="display: inline-block" class="card-header">
                <h4 class="card-title" > Sửa sản phẩm</h4>
          

              </div>
              <div class="card-body">
                  <table class="table text-center">
                    <thead  class=" text-primary">
                      <th>
                        Tên sản phẩm
                      </th>
                      <th>
                        Thể loại
                      </th>
                      <th>
                        Giá
                      </th>
                      <th>
                        Link ảnh
                      </th>
                      <th>
                        Mô tả
                      </th>
                      <th>
                        
                      </th>
                    </thead>
                    <tbody>
          
                      <tr>
                        <td>
                           <input  form="edit_form" type="text" value="<%=item.id%>" name="id" hidden> 
                        <input  form="edit_form" value="<%=item.name%>"  style="width: 150px;" type="text"  name="name">
                   
                        </td>
                        <td>
                            <input  form="edit_form" value="<%=item.category%>" style="width: 150px;" type="text" name="category">
                        
                        </td>
                        <td>
                            <input  form="edit_form" value="<%=item.price%>" style="width: 150px;" type="text" name="price">
                        
                            
                        </td>
                        <td >
                         
                            <input  form="edit_form" value="<%=item.urlimage%>" style="width: 150px;" type="text"  name="urlimage">
                  
                        </td>
                        <td>
                         
                          <input form="edit_form" value="<%=item.description%>" style="width: 150px;" type="text" name="description">
                        </td>
                        <td >
                          <form id="edit_form" action="editproduct" method="GET">
                          

                          <button  class="btn btn-primary a-btn-slide-text" type="submit">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                              <span><strong>Edit</strong></span>            
                          </button>
                          </form>
                        </td>
                      </tr>
              
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
       
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>


</body>
<script>

  $("#btn-add").click(function(){
    var name=$("#id_name").val();
  var category=$("#id_category").val();
  var price=$("#id_price").val();
  var urlimg=$("#id_imgurl").val();
  var description=$("#id_description").val();
  
if(false==''){

}else{
 /* swal({
  title: "success!",
  text: "You clicked the button!",
  icon: "success",
  time:1000
})*/ 
}

  })




 

</script>
</html>
